<a href="https://colab.research.google.com/github/SreejaSuryadevara/-SreejaSuryadevara-Sreeja_INFO5731_Spring2023/blob/main/In_class_exercise_01_01242023_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
s = input("Enter a string: ")
c=0
for i in s:
    c=c+1
print("Length of the above string is ", c)

Enter a string: Sreeja
Length of the above string is  6

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
from collections import OrderedDict
import numpy as np

n = input("Enter String: ")
d = dict()
for a in n:
 if a in d:
     d[a] = d[a] + 1
 else:
     d[a] = 1

keys = list(d.keys())
values = list(d.values())
sorted_answer = np.argsort(values)
b=reversed(sorted_answer)
sorted_dict = {keys[i]: values[i] for i in b}
 
print(sorted_dict)

Enter String: SreejaSuryadevara
{'a': 4, 'e': 3, 'r': 3, 'S': 2, 'v': 1, 'd': 1, 'y': 1, 'u': 1, 'j': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# write your answer here
a = []
total = 0
num = int(input('How many numbers: '))
for i in range(num):
    numbers = int(input('Enter number '))
    a.append(numbers)
for j in range(0, len(a)):
    total = total + a[j]
print("Sum :", total)

How many numbers: 6
Enter number 6
Enter number 9
Enter number 65
Enter number 3
Enter number 45
Enter number 23
Sum : 151

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
a=input("enter string: ")
b= a[0]
a= a.replace(b, '$')
a = b + a[1:]
print(a)

enter string: SreejaSuryadevara
Sreeja$uryadevara

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here
a=int(input("Enter a value"))
b=int(input("Enter b value"))
result=3.14*((1+a/b)**3)
print(result)

Enter a value8
Enter b value7
30.89650145772595

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dict1={1:10, 2:20}
dict2={3:30, 4:40}
dict3={5:50,6:60}
dict4={**dict1, **dict2, **dict3}
print(dict4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here
a = tuple(input('Enter space separated words: ').split())
print(a)
print("a" in a)
print("e" in a)
print("i" in a)
print("n" in a)

Enter space separated words: s r e e ja s u r y a d e v a r a
('s', 'r', 'e', 'e', 'ja', 's', 'u', 'r', 'y', 'a', 'd', 'e', 'v', 'a', 'r', 'a')
True
True
False
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here
a =[1,2,3,4,5,6,7,8,9,11,22,33,44,55,66]
print(min(a))
print(max(a))

1
66

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
# write your answer here
import random
a=['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
grps=6
grp_size=(len(a)+grps-1)//grps
random.shuffle(a)
grouped_students=[a[i:i+grp_size] for i in range(0, len(a), grp_size)]
for i, group in enumerate(grouped_students):
    print("Group {}: {}".format(i+1, group))

Group 1: ['sk1390', 'ds0814', 'fh0141', 'sk1386', 'pr0353']
Group 2: ['ms1500', 'gn0108', 'av0659', 'sa1198', 'kg0569']
Group 3: ['sg1297', 'bg0320', 'jl1252', 'sm1640', 'sm1907']
Group 4: ['kg0470', 'ak0956', 'ak0934', 'ja0964', 'vb0218']
Group 5: ['hy0232', 'vm0377', 'dr0609', 'sk1458', 'sk1313']
Group 6: ['sb1357', 'aos0040', 'nm0618', 'nv0234', 'sc1229']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
#### write your answer here
def duplicate(nums):
    a = set()
    no_duplicate = -1

    for i in range(len(nums)):

        if nums[i] in a:
            return nums[i]
        else:
            a.add(nums[i])

    return no_duplicate
print(duplicate([55,66,7,3,55,2,3,7]))
print(duplicate([8,56,0,2,3,4]))
print(duplicate([9,8,9,9,8,8,7,7,7]))

55
-1
9

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here
import datetime
y = input("Enter a Year: ")
for week in range(53):
    print(datetime.datetime.strptime(y+str(week)+'0', '%Y%W%w'))

Enter a Year: 2000
2000-01-02 00:00:00
2000-01-09 00:00:00
2000-01-16 00:00:00
2000-01-23 00:00:00
2000-01-30 00:00:00
2000-02-06 00:00:00
2000-02-13 00:00:00
2000-02-20 00:00:00
2000-02-27 00:00:00
2000-03-05 00:00:00
2000-03-12 00:00:00
2000-03-19 00:00:00
2000-03-26 00:00:00
2000-04-02 00:00:00
2000-04-09 00:00:00
2000-04-16 00:00:00
2000-04-23 00:00:00
2000-04-30 00:00:00
2000-05-07 00:00:00
2000-05-14 00:00:00
2000-05-21 00:00:00
2000-05-28 00:00:00
2000-06-04 00:00:00
2000-06-11 00:00:00
2000-06-18 00:00:00
2000-06-25 00:00:00
2000-07-02 00:00:00
2000-07-09 00:00:00
2000-07-16 00:00:00
2000-07-23 00:00:00
2000-07-30 00:00:00
2000-08-06 00:00:00
2000-08-13 00:00:00
2000-08-20 00:00:00
2000-08-27 00:00:00
2000-09-03 00:00:00
2000-09-10 00:00:00
2000-09-17 00:00:00
2000-09-24 00:00:00
2000-10-01 00:00:00
2000-10-08 00:00:00
2000-10-15 00:00:00
2000-10-22 00:00:00
2000-10-29 00:00:00
2000-11-05 00:00:00
2000-11-12 00:00:00
2000-11-19 00:00:00
2000-11-26 00:00:00
2000-12-03 00:00:00
2000-12-10 00:00:00
2000-12-17 00:00:00
2000-12-24 00:00:00
2000-12-31 00:00:00